<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Importing decimal-->
  <script src = "https://cdn.jsdelivr.net/gh/MikeMcl/decimal.js@v10.4.2/decimal.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="../components/admin_interface_main/main.css" rel="stylesheet">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <nav class="navbar navbar-expand-sm py-3" id="navbar-admin">

    <ul class="navbar-nav">

      <!-- Open The Modal -->
      <li class="nav-item">
        <div class="helpBar">
          <button id="helpButton" button type="button" class="btn btn-light" onclick="openModal('myModal')">Help
            <img src="../components/participant_interface_main/Icons/icon_help.png"></button>
        </div>
      </li>
      <li class="nav-item"><button id="parModalButton" type="button" class="btn btn-light"
          onclick="openModal('participantModal')"> Edit Participant Help Message </button> </li>
    </ul>

  </nav>
  <title>Admin Interface</title>

</head>

<body onload="generateGraph()">

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <span class="close" onclick="closeModal('myModal')">&times;</span>
        <header><strong>Tutorial</strong></header>
        <p>
          You can click Add Column to add column, or click Delete to delete column.<br />
          To generate a graph enter the graph name, column names, values, axis names.<br />
          When ready to generate click submit.
        </p>
        <div class="modal-footer">
          <button onclick="closeModal('myModal')" type="button" class="btn btn-primary"
            data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div id="participantModal" class="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <span class="close" onclick="closeModal('participantModal')">&times;</span>
        <header> <Strong> Tutorial</Strong></header>
        <textarea id="tutorialText" rows=12>
    To begin click a section of the graph and drag it up or down.

    You will be restricted to a total size for the graph, the graph can only
    be submitted when all values reach the total. 

    Specific values can be entered using the text areas below the graph. 
  </textarea>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            onclick="closeModal('participantModal')">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <!-- CHART -->
    <div class="row">
      <div class="col">
        <div>
          <canvas id="myChart"></canvas>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js">
          </script>
          <script
            src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@2.2.3/dist/chartjs-plugin-dragdata.min.js"></script>
        </div>
      </div>
      <div class="col">
        <!-- INPUTS -->
        <br>
        <div class="scalebox">
          <div class="row">
            <div class="col">
              <label for="title">Title:</label>
            </div>
            <div class="col">
              <input type="text" id="title" name="title" oninput="updateGraph()" value="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="xTitle">X-axis Title:</label>
            </div>
            <div class="col">
              <input type="text" id="xTitle" name="xTitle" oninput="updateGraph()" value="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="yTitle">Y-axis Title:</label>
            </div>
            <div class="col">
              <input type="text" id="yTitle" name="yTitle" oninput="updateGraph()" value="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="scaleMax">Maximum for Scale:</label>
            </div>
            <div class="col">
              <input type="number" id="scaleMax" name="scaleMax" oninput="updateGraph(); maxErrorMessage()" value="20" step="0.5">
            </div>
          </div>
          <div row>
            <div class="col">
              <label class = "errorText" id="errorTextMax"> Consider making this value a multiple of step size (click help for more info)</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="scaleMin">Minimum for Scale:</label>
            </div>
            <div class="col">
              <input type="number" id="scaleMin" name="scaleMin" oninput="updateMinValues(); roundToStepSize(); updateGraph(); minErrorMessage();" value="0"
                step="0.5">
            </div>
          </div>
          <div row>
            <div class="col">
              <label class = "errorText" id="errorText"> Consider making this value a multiple of step size (click help for more info) </label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="scaleIncrement">Scale Increment:</label>
            </div>
            <div class="col">
              <input type="number" id="scaleIncrement" name="scaleIncrement" oninput="updateGraph()" value="2"
                step="0.1">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="stepSize">Step size:</label>
            </div>
            <div class="col">
              <input type="number" id="stepSize" name="stepSize" oninput="minErrorMessage(); maxErrorMessage(); roundToStepSize(); updateGraph();" value="1"
                step="0.1">
            </div>
          </div>
          <div class="row">
            <div class="col">
              Enforce rounding to increments of step size
            </div>
            <div class="col">
              <input type="checkbox" checked id="roundToStepSizeButton" name="roundToStepSize" onchange="roundToStepSize()">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="totalSum">(Current sum = <span id="currentSum">NaN</span>) Set total sum:</label>
            </div>
            <div class="col">
              <input type="number" id="totalSum" name="totalSum" oninput="updateGraph()" value="" placeholder="No total sum">
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!--COLUMNS-->
        <div class="tablebox">
          <table id="colTable" border="1">
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th></th>
              <th>Delete</th>
            </tr>
          </table>
          <input type="button" id="addColButton" value="Add Column" onclick="addColRow('colTable');updateGraph()">
        </div>
      </div>
      <div class="col">
        <!--RULESXSUBMIT-->
        <div class="rulesbox">
          <table id="rulesInput" align="center" border="1">
            <tr>
              <th>Rule</th>
              <!-- <th>Error Message</th> -->
              <th>Delete</th>
            </tr>
          </table>
          <input type="button" id="addRuleButton" value="Add Rule" onclick="addRuleRow('rulesInput');">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div id="submitButtonContainer">
    <button class="genbutton" id="submitButton">Generate Question Javascript</button>
  </div>
  <script type="module" src="../components/admin_interface_main/setup.mjs"></script>
  <script src="../components/admin_interface_main/main.js"></script>
</body>

</html>