<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="../components/admin_interface_main/main.css" rel="stylesheet">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <nav class="navbar navbar-expand-sm py-3" id="navbar-admin">

    <ul class="navbar-nav">

      <li><a class="nav-item nav-link"><img src="../components/admin_interface_main/Icons/icon_menu_.png"> </a></li>

      <!-- Open The Modal -->
      <div class="helpBar">
      <button id="helpButton" button type="button" class="btn btn-light">Help 
        <img src="../components/participant_interface_main/Icons/icon_help.png"></button>
      </div>

    </ul>

  </nav>
  <title>Admin Interface</title>

</head>

<body onload="generateGraph()">

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <strong>Tutorial</strong> <br>
      You can click Add Column to add column, or click Delete to delete column.<br />
      To generate a graph enter the graph name, column names, values, axis names.<br />
      When ready to generate click submit.
      
    </div>
  </div>

  <div>
    <div class="chartMenu"></div>
    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js">
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@2.2.3/dist/chartjs-plugin-dragdata.min.js"></script>
  </div>
  <br>
  <center>

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" oninput="updateGraph()" value="Title"><br>
    <label for="xTitle">X-axis Title:</label>
    <input type="text" id="xTitle" name="xTitle" oninput="updateGraph()" value="x axis"><br>
    <label for="yTitle">Y-axis Title:</label>
    <input type="text" id="yTitle" name="yTitle" oninput="updateGraph()" value="y axis"><br>
    <label for="scaleMax">Maximum for Scale:</label>
    <input type="number" id="scaleMax" name="scaleMax" oninput="updateGraph()" value="20" step="0.5"><br>
    <label for="scaleMin">Minimum for Scale:</label>
    <input type="number" id="scaleMin" name="scaleMin" oninput="updateGraph()" value="0" step="0.5"><br>
    <label for="scaleIncrement">Scale Increment:</label>
    <input type="number" id="scaleIncrement" name="scaleIncrement" oninput="updateGraph()" value="2" step="0.1"><br>
    <label for="stepSize">Step size:</label>
    <input type="number" id="stepSize" name="stepSize" oninput="updateGraph()" value="0.5" step="0.1"><br>
    <label for="totalSum">Total Sum:</label>
    <input type="number" id="totalSum" name="totalSum" oninput="updateGraph()" value="50"><br><br>

    <table id="colTable" border="1">
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Delete</th>
      </tr>
    </table>
    <input type="button" id="addColButton" value="Add Column" onclick="addRow('colTable');updateGraph()">

    <br><br>

    <table id="rulesInput" border="1">
      <tr>
        <th>Rule</th>
        <th>Error Message</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td><input class="ruleInput" oninput="updateGraph()" value="" size=20 type="text"></td>
        <td><input class="errorInput" oninput="updateGraph()" value="" size=30 type="text"></td>
        <td><input class="deleteButton" type="button" value="Delete" onclick="deleteRow(this, 'rulesInput')"></td>
      </tr>
    </table>
    <input type="button" id="addRuleButton" value="Add Rule" onclick="basicAddRow('rulesInput');updateGraph()">
  </center>
  <br>
  <center>
    <textarea id="restrictionsInput"></textarea>
  </center>
  <br>
  <div>
    <center><button id="submitButton">Submit</button></center>
  </div>

  <script type="module" src="../components/admin_interface_main/setup.mjs"></script>
  <script src="../components/admin_interface_main/main.js"></script>
</body>

</html>