<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Participant Interface</title>
</head>
<body>

  <!--Got to include sidebar code too-->

  <!--Top help button for instructions pop up-->
  <div>
    <button id="helpButton">Help</button>
  </div>

  <!--Got to include instructions pop up code too -->

  <!--Area where the graph will be placed in-->
  <div>
    Graph Area
  </div>
   <!--Graph submit button-->
  <div>
    <button id="submitButton">Submit</button>
  </div>
  
  
</body>
</html>