#navbar-admin {
  height: 80px; 
  background-color: rgb(59, 200, 244);

}

.nav-item.nav-link {

    font-size: 25px;

    padding-left:30px;

    padding-right:30px;

    color: #000000;

}

img {

    height: 1em;

    width: auto;

    display: inline-block;

    font-family: Arial, Helvetica, sans-serif;

    font-weight: bold;

    }
#columns {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(204, 244, 173);
}

.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(255, 26, 104, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  position: relative;
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(137, 137, 137, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgb(59, 200, 244);
  background: white;
}

/*Help bar*/
.helpBar {
  background-color: rgba(59, 200, 244);
  overflow: hidden;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 30%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.button {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  color: #000000;
  text-align: center;
  font-size: 25px;
  padding: 8px;
  height: 50px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.scalebox {
  position: absolute;
  top: 160px;
  right: 120px;
}

.tablebox {
  position: absolute;
  top: 580px;
  left: 80px;
  border-style: outset;
  border-width: 5px;
}

.rulesbox {
  position: absolute;
  top: 480px;
  right: 230px;
  border-style: outset;
  border-width: 5px;
}

.genbutton {
  position: absolute;
  top: 750px;
  right: 200px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba(59, 200, 244);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.genbutton:hover {background-color: rgb(59, 226, 244)}

.genbutton:active {
  background-color: rgba(59, 200, 244);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}